<!DOCTYPE html>
<html>
  <head>
    <title>Fishbowl</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fishbowl</h1>
    <p>Welcome to notification center</p>
  </body>
</html>