<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Web Push Notifications</title>

  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../images/touch/chrome-touch-icon-192x192.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


  <link rel="icon" href="../images/favicon.ico">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script
          src="/angularJS/notify.js"></script>
  <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
  <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
</head>

<body ng-app="app2" ng-controller="login as vm">
<div class="container">

  <table ng-table="vm.tableParams" class="table table-striped" show-filter="true">
    <tr ng-repeat="user in $data">
      <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
        {{user.name}}</td>
      <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
        {{user.age}}</td>
    </tr>
  </table>


  <input type="button" class="on btn btn-primary" id="Notify"  value="Notify" ng-click="checkUser('abc');">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#signupForm").submit(function(e) {

      var url = "/notifyUser"; // the script where you handle the form input.


        $.ajax({
          type: "GET",
          url: url,
          data:  {},
          success: function(data)
          {
            window.location.replace("/notify");


          }
        });
     });
  });

  var app2 = angular.module("app2", ["ngTable"]);
  app2.controller('login', ['$scope', '$http','NgTableParams', '$defer',  function($scope, $http, NgTableParams, $defer) {

    var data = [{name: "Moroni", age: 50} , {name: "Moroni", age: 50} , {name: "Moroni", age: 50} , {name: "Moroni", age: 50}
      , {name: "Noro", age: 50}, {name: "Noro", age: 50}, {name: "Zoro", age: 50}, {name: "Horo", age: 50}, {name: "IIII", age: 50}
      , {name: "IJJJro", age: 50}, {name: "XXXX", age: 51}, {name: "yyy", age: 30}];
   // this.tableParams = new NgTableParams({}, { dataset: data});

    this.tableParams = new NgTableParams({
      page: 1,            // show first page
      count: 2
    }, {
      total: data.length, // length of data
      getData: function(params) {
        // use build-in angular filter


        $defer.resolve(data.slice((params.page() - 1) * params.count(),     params.page() *    params.count()));
        params.total(data.length);
      }
    });

  }]);
</script>
</body>
</html>